<footer>
  <p>© 2025 Aprendiendo programación.</p>
  <ul>
    <a href="https://github.com/OrlandoTellez/blog" target="_blank">github</a>
  </ul>
</footer>

<style>
    footer{
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        max-width: var(--ancho-maximo);
        border-radius: 10px;
        background-color: var(--color-secundario);
        color: var(--color-fuente-fechas);
        text-align: center;
}
</style>
