---
import "@fontsource-variable/inter";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  tituloPagina: string;
}

const { tituloPagina } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-3d.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{tituloPagina}</title>
  </head>
  <body>
    <div class="barra-top"></div>
    <Header />
    <div class="container-slot">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --color-principal: #000000;
    --color-secundario: #121212;
    --color-span: #2f2f2f;

    --color-alternar: #1B211A;
    --border-color: #4b4b4b;
    --color-fuente: #c5c5c5;
    --color-boton: #354b6b;
    --color-fuente-fechas: #9ca1a1;
    --color-negro: #ffffff;
    --ancho-maximo: 1024px;
    --color-codigo: #121212;
  }

  [data-theme="light"] {
    --color-principal: #ffffff;
    --color-secundario: #f0f4f8;
    --color-fuente: #020d22;
    --color-alternar: #1B211A;
    --color-boton: #d1d5db;
    --color-fuente-fechas: #4b5563;
    --color-codigo: #01284f;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body {
    width: 100%;
    font-family: "Inter Variable", sans-serif;
    color: var(--color-negro);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(var(--color-alternar) 0.5px, var(--color-principal) 0.5px);
    background-size: 10px 10px;


  }

  .barra-top {
    position: fixed;
    top: 0;
    left: 0;
    height: 6px;
    width: 0; 
    background: var(--color-fuente-fechas);
    z-index: 9999;
    transition: width 0.1s linear;
  }

  @keyframes scroll-progress {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }

  .container-slot {
    padding: 80px 20px;
    width: 100%;
    max-width: 75ch;
  }

  h1 {
    font-size: 40px;
    color: var(--color-fuente);
  }

  h2 {
    font-size: 23px;
    color: var(--color-fuente);
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: var(--color-fuente);
  }

  li {
    list-style: none;
  }

  .container-slot h1,
  .container-slot h2,
  .container-slot h3,
  .container-slot h4,
  .container-slot h5,
  .container-slot h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.2;
    font-weight: bold;
    color: var(--color-fuente);
  }

  .container-slot h1 {
    font-size: 2.5rem;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.3em;
  }

  .container-slot h2 {
    font-size: 2rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.2em;
  }

  .container-slot h3 {
    font-size: 1.75rem;
  }

  .container-slot h4 {
    font-size: 1.5rem;
  }

  .container-slot h5 {
    font-size: 1.25rem;
  }

  .container-slot h6 {
    font-size: 1rem;
    color: var(--color-fuente);
  }

  .container-slot p {
    margin: 1em 0;
    font-size: 1rem;
    color: var(--color-fuente);
  }

  .container-slot ul,
  .container-slot ol {
    padding-left: 1.5em;
  }

  .container-slot li {
    color: var(--color-fuente);
    padding-left: 0.5rem;
    line-height: 1.6;
    list-style-type: disc;
    font-size: 1rem;
  }

  .container-slot pre {
    padding: 1em;
    border-radius: 5px;
    overflow-x: auto;
    margin: 1.5em 0;
    background-color: var(--color-codigo) !important;
  }

  .container-slot code {
    font-family: "Courier New", monospace;
    padding: 0.2em 0.4em;
    border-radius: 3px;
  }

  .container-slot blockquote {
    border-left: 4px solid #ddd;
    padding-left: 1em;
    margin: 1em 0;
    font-style: italic;
    color: #ffffff;
  }

  .container-slot table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5em 0;
    color: var(--color-fuente);
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .container-slot th,
  .container-slot td {
    border: 1px solid #ddd;
    padding: 0.75em;
    text-align: left;
  }

  .container-slot th {
    background: var(--color-secundario);
    font-weight: bold;
  }

  .container-slot hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 2em 0;
  }
</style>


<script>
  document.addEventListener("DOMContentLoaded", () => {
  const barra = document.querySelector(".barra-top");
  if (!(barra instanceof HTMLElement)) return;

  window.addEventListener("scroll", () => {
    const scrollTop = window.scrollY;
    const alturaPagina = document.documentElement.scrollHeight - window.innerHeight;
    const progreso = (scrollTop / alturaPagina) * 100;
    barra.style.width = progreso + "%";
  });
});

</script>

 
